In [90]:
import yaml
from sqlalchemy import create_engine, inspect
import pandas as pd
from dateutil.parser import parse
import tabula
import requests
import json


class DatabaseConnector:
    def __init__(self, file=None):
        self.file = file
        self.db_creds = self.read_db_creds()
        self.db_engine = self.init_db_engine()
        self.db_table_list = self.list_db_tables()

    def read_db_creds(self):
        with open(self.file, 'r') as f:
            db_creds = yaml.safe_load(f)
            return db_creds
    
    def init_db_engine(self):
        db_engine = create_engine(f"postgresql://{self.db_creds['RDS_USER']}:{self.db_creds['RDS_PASSWORD']}@{self.db_creds['RDS_HOST']}:{self.db_creds['RDS_PORT']}/{self.db_creds['RDS_DATABASE']}")
        return db_engine

    def list_db_tables(self):
        insp = inspect(self.db_engine)
        db_table_list = insp.get_table_names()
        return db_table_list
    
    def upload_to_db(self, clean_dataframe, table_name):
        db_to_sql = clean_dataframe.to_sql(table_name, self.db_engine, if_exists='replace', index=False)
        return db_to_sql


class DataExtractor:
    def __init__(self, database=None):
        self.database = database

    def read_rds_table(self, table_name):
        table_data = pd.read_sql_table(table_name, self.database).set_index('index')
        return table_data

    def retrieve_pdf_data(self, pdf_path):
        pdf_df_page = tabula.read_pdf(pdf_path, pages='all')
        pdf_df = pd.concat(pdf_df_page, ignore_index=True)
        return pdf_df
    
    def list_number_of_stores(self, number_of_stores_endpoint, header):
        response = requests.get(number_of_stores_endpoint, headers=header)
        number_of_stores_data = response.json()
        return number_of_stores_data['number_stores']
    
    def retrieve_stores_data(self, store_endpoint, number_of_stores, header):
        store_df = []
        for store_number in range(number_of_stores):
            response = requests.get(f'{store_endpoint}{store_number}', headers=header).json()
            store = pd.json_normalize(response)
            store_df.append(store)
        stores_df = pd.concat(store_df).set_index('index')
        return stores_df
    
class DataCleaning:
    def __init__(self, dataframe):
        self.dataframe = dataframe

    def clean_user_data(self):
        # Remove NULL values and duplicates
        self.dataframe = self.dataframe.dropna().drop_duplicates()

        # Clean country code
        self.dataframe['country_code'] = self.dataframe['country_code'].replace('GGB', 'GB')
        self.dataframe = self.dataframe[self.dataframe['country_code'].str.len() == 2]

        # Clean dates
        self.dataframe.loc[:,'date_of_birth'] = pd.to_datetime(self.dataframe['date_of_birth'].apply(parse))
        self.dataframe.loc[:,'join_date'] = pd.to_datetime(self.dataframe['join_date'].apply(parse))

        # Clean phone numbers
        regex = '^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$'
        self.dataframe.loc[:,'phone_number'] = self.dataframe['phone_number'].str.replace('(0)', '', regex=False)
        self.dataframe.loc[:,'phone_number'] = self.dataframe['phone_number'].replace(r'\D+', '', regex=True)

        return self.dataframe

    def clean_card_data(self):
        card_provider_list = ['Diners Club / Carte Blanche', 'American Express', 'JCB 16 digit',
                             'JCB 15 digit', 'Maestro', 'Mastercard', 'Discover',
                             'VISA 19 digit', 'VISA 16 digit', 'VISA 13 digit']

        # Filter card data based on card providers
        self.dataframe = self.dataframe[self.dataframe['card_provider'].isin(card_provider_list)]

        # Clean and format date columns
        self.dataframe.loc[:,'expiry_date'] = pd.to_datetime(self.dataframe['expiry_date'], errors='coerce', format='%m/%y')
        self.dataframe.loc[:,'date_payment_confirmed'] = pd.to_datetime(self.dataframe['date_payment_confirmed'], errors='coerce', format='%Y-%m-%d')

        # Drop NULL values and duplicates
        self.dataframe = self.dataframe.dropna().drop_duplicates()

        return self.dataframe

    def clean_store_data(self):
        self.dataframe = self.dataframe[self.dataframe['country_code'].str.len() == 2]
        self.dataframe.loc[:, 'opening_date'] = pd.to_datetime(self.dataframe['opening_date'], errors='coerce', format='%Y-%m-%d')

        self.dataframe['continent'] = self.dataframe['continent'].replace(['eeEurope', 'eeAmerica'], ['Europe', 'America'])

        self.dataframe = self.dataframe.drop(columns='lat')
        self.dataframe['staff_numbers'] = self.dataframe['staff_numbers'].apply(lambda x: "".join(filter(str.isdigit, str(x))))

        self.dataframe = self.dataframe.dropna().drop_duplicates()

        return self.dataframe
        

yaml_database = DatabaseConnector(file='db_creds.yaml').init_db_engine()

user_data_df = DataExtractor(yaml_database).read_rds_table('legacy_users')

cleaned_df = DataCleaning(user_data_df).clean_user_data()

user_data_to_sql = DatabaseConnector(file='sales_data_creds.yaml').upload_to_db(cleaned_df, 'dim_users')

In [86]:
pdf_file = DataExtractor().retrieve_pdf_data("https://data-handling-public.s3.eu-west-1.amazonaws.com/card_details.pdf")

In [87]:
data_pdf = DataCleaning(dataframe=pdf_file).clean_card_data()
card_details_to_sql = DatabaseConnector(file='sales_data_creds.yaml').upload_to_db(data_pdf, 'dim_card_details')

In [88]:
data_pdf

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,2026-09-01 00:00:00,Diners Club / Carte Blanche,2015-11-25 00:00:00
1,349624180933183,2023-10-01 00:00:00,American Express,2001-06-18 00:00:00
2,3529023891650490,2023-06-01 00:00:00,JCB 16 digit,2000-12-26 00:00:00
3,213142929492281,2027-09-01 00:00:00,JCB 15 digit,2011-02-12 00:00:00
4,502067329974,2025-10-01 00:00:00,Maestro,1997-03-13 00:00:00
...,...,...,...,...
15304,180036921556789,2028-12-01 00:00:00,JCB 15 digit,1997-06-06 00:00:00
15305,180018030448512,2024-11-01 00:00:00,JCB 15 digit,2004-06-16 00:00:00
15306,3569953313547220,2024-04-01 00:00:00,JCB 16 digit,2020-02-05 00:00:00
15307,4444521712606810,2027-06-01 00:00:00,VISA 16 digit,2008-06-16 00:00:00
15308,372031786522735,2030-02-01 00:00:00,American Express,2009-02-04 00:00:00

In [7]:
headers = {'x-api-key': 'yFBQbwXe9J3sd6zWVAMrK6lcxxr0q1lr2PT6DDMX'}

number_of_stores = DataExtractor().list_number_of_stores('https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/number_stores', headers)
stores_data = DataExtractor().retrieve_stores_data(f'https://aqj7u5id95.execute-api.eu-west-1.amazonaws.com/prod/store_details/', number_of_stores, headers)

stores_data

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,,
0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,None,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,None,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,None,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,None,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [11]:
stores_data.head(50)

,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,,
0,N/A,N/A,N/A,N/A,WEB-1388012W,325,2010-06-12,Web Portal,None,GB,Europe
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,None,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,None,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,None,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,None,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,53.38333,None,Gainsborough,GA-CAD01AC2,36,1995-05-15,Local,-0.76667,GB,Europe
6,"7 Gillian rue\nWest Robertside\nPH4 8NY, Ruthe...",55.82885,None,Rutherglen,RU-C603E990,92,2001-01-04,Super Store,-4.21376,GB,Europe
7,"Lilija-Heß-Allee 660\n34566 Regensburg, Stuttgart",48.78232,None,Stuttgart,ST-229D997E,34,2000-06-01,Local,9.17702,DE,Europe
8,"510 Jill Mill\nSouth Laura, FL 38723, Kaukauna",44.27804,None,Kaukauna,KA-FA7ED3B8,31,2022-09-05,Local,-88.27205,US,America
9,"3 Lee valleys\nWest Janetview\nDY4M 2RL, Hartley",51.38673,None,Hartley,HA-974352FE,20,2004-09-11,Local,0.30367,GB,Europe
10,"8 Gareth skyway\nSimmonsview\nSW4 7PL, Rutherglen",55.82885,None,Rutherglen,RU-9F1136B4,32,October 2012 08,Local,-4.21376,GB,Europe
11,"Bergerstr. 1/3\n59183 Seelow, Siegburg",50.80019,None,Siegburg,SI-ECD52CD9,25,July 2015 14,Local,7.20769,DE,Europe
12,Flat 37\nBennett expressway\nNew Charlotte\nSY...,51.35084,None,Devizes,DE-585399CF,36,2014-10-11,Local,-1.99421,GB,Europe
13,"520 Fisher Inlet Suite 594\nPort Eric, IL 7175...",42.24113,None,Crystal Lake,CR-792AA8BB,138,2018-04-05,Super Store,-88.3162,US,America
14,"Herma-Rädel-Gasse 29\n74557 Fulda, Halstenbek",53.63333,None,Halstenbek,HA-39A446E2,38,1994-03-08,Local,9.85,DE,Europe
15,"4 Teresa lodge\nWest Mathewchester\nSP39 3UZ, ...",50.82882,None,Lancing,LA-9B0D9277,39,2020-06-05,Local,-0.32247,GB,Europe
16,"74 Mills route\nLaurahaven\nPL4R 6HA, Newbury",51.40148,None,Newbury,NE-1D8B1D0C,33,2004-05-02,Local,-1.32471,GB,Europe
17,"9 Ryan springs\nLake Allan\nE0 1AW, Lymington",50.75767,None,Lymington,LY-4C3D5D6C,36,2016-02-12,Local,-1.5443,GB,eeEurope
18,"Studio 80d\nHolly cliffs\nIanport\nG4F 4HR, Ch...",53.46506,None,Chapletown,CH-6A561423,34,2008-01-21,Local,-1.47217,GB,Europe
19,"59 Lee drives\nGeorginaview\nOL93 1GX, Barnet",51.65,None,Barnet,BA-898BDED3,109,2022-08-01,Super Store,-0.2,GB,Europe
20,"Flat 83\nShirley parkway\nSylviashire\nN0 5AQ,...",52.68333,None,East Dereham,EA-77ECA680,8,1994-08-12,Mall Kiosk,0.93333,GB,Europe
21,Flat 28\nKirby villages\nWest Vincent\nCV4 0RT...,53.83333,None,Poulton-le-Fylde,PO-38790FAE,25,2010-10-19,Local,-2.98333,GB,Europe
22,Studio 00p\nGeorge point\nWest Barbara\nS5J 3J...,51.64316,None,Bushey,BU-251A0E5A,35,2013-08-05,Local,-0.36053,GB,Europe
23,"Rena-Karz-Gasse 574\n66493 Olpe, Ehingen",48.28259,None,Ehingen,EH-91356030,38,2017-12-12,Local,9.72749,DE,Europe
24,"Flat 43d\nHall street\nSusanshire\nKA9 8HF, Ab...",57.14369,None,Aberdeen,AB-917B715E,119,2002-06-18,Super Store,-2.09814,GB,Europe
25,12 William underpass\nSouth Brettland\nL3K 8BB...,51.39148,None,Surbiton,SU-0B4C9A5F,28,2007-06-24,Local,-0.29825,GB,Europe
26,08 Brenda valleys\nNorth Stewartborough\nTQ32 ...,57.47908,None,Inverness,IN-157E1191,29,2017-11-04,Local,-4.22398,GB,Europe
27,"Studio 94\nTina freeway\nWoodshaven\nYO93 9TU,...",53.38333,None,Gainsborough,GA-DA8EEA4A,29,2008-07-08,Local,-0.76667,GB,Europe
28,"Flat 8\nCooper estates\nReidchester\nKY14 4PW,...",50.82882,None,Lancing,LA-2B59A825,25,1998-12-23,Local,-0.32247,GB,Europe
29,"Köhlerring 00\n08489 Fulda, Weimar",50.9803,None,Weimar,WE-31C8B335,27,2011-03-11,Local,11.32903,DE,Europe
30,"Häringstr. 481\n62852 Kamenz, Landshut",48.52961,None,Landshut,LA-F1042C48,34,2010-08-25,Local,12.16179,DE,Europe
31,"Flat 69\nSuzanne walk\nEast Michelle\nE80 8HS,...",52.68333,None,East Dereham,EA-24B31935,J78,2012-11-09,Outlet,0.93333,GB,Europe
32,"Flat 7\nChambers shoals\nCarolyntown\nSM2 0FQ,...",52.68333,None,East Dereham,EA-7965E06D,96,2016-10-07,Super Store,0.93333,GB,Europe
33,Studio 1\nDavidson harbor\nSheppardview\nM9J 9...,50.11861,None,Penzance,PE-040B15C3,135,2018-08-15,Super Store,-5.53715,GB,Europe
34,"Sabina-Baum-Platz 4\n10599 Wanzleben, Ehingen",48.28259,None,Ehingen,EH-DB8676C1,28,1996-10-02,Local,9.72749,DE,Europe
35,"Fechnerweg 6\n72000 Greiz, Albstadt",48.21644,None,Albstadt,AL-91D3A03C,30,2018-06-18,Local,9.02596,DE,Europe
36,"Kensyring 567\n46539 Oschatz, Hechingen",48.35149,None,Hechingen,HE-E39F4BC6,31,1995-06-04,Local,8.96317,DE,Europe
37,"978 Daniel viaduct\nJohnsonville\nE1A 7TW, Pou...",53.83333,None,Poulton-le-Fylde,PO-47A01287,29,1994-10-18,Local,-2.98333,GB,Europe
38,"Flat 8\nGrace radial\nGeorginashire\nW06 1BZ, ...",50.82882,None,Lancing,LA-D78C5F3F,28,2002-07-21,Local,-0.32247,GB,Europe
39,"Studio 55A\nAli brooks\nPearceburgh\nSW8 2RT, ...",53.49389,None,Mexborough,ME-31958763,90,2013-12-23,Outlet,-1.29243,GB,Europe
40,"420 Harrison way\nWhitemouth\nE4 5RZ, Arbroath",56.56317,None,Arbroath,AR-5E72668B,34,2006-10-04,Local,-2.58736,GB,Europe
41,"7 Sophie ways\nEast Kevinborough\nTD1M 0FG, Cowes",50.76306,None,Cowes,CO-CB3D8C89,120,1999-07-17,Super Store,-1.29772,GB,Europe
42,Studio 46k\nPhillips hollow\nSouth Eileen\nG21...,51.78967,None,Clacton-on-Sea,CL-5C7C3198,50,1998-12-19,Outlet,1.15597,GB,Europe
43,"92863 Kathryn Ford Suite 747\nEast Craig, DC 2...",42.35843,None,Boston,BO-17E7B6CE,75,2019-07-28,Super Store,-71.05977,US,America
44,"Bertold-Nette-Allee 7/8\n32669 Chemnitz, Charl...",52.53048,None,Charlottenburg-Nord,CH-619E036C,118,2017-10-21,Super Store,13.29371,DE,Europe
45,"Lindauweg 7\n89647 Luckau, Bretten",49.03685,None,Bretten,BR-BC499EDD,37,2020-05-13,Local,8.70745,DE,Europe
46,"Flat 85Q\nGeorge field\nBarrettbury\nBS2B 5WR,...",51.40148,None,Newbury,NE-E50207AD,67,2019-12-24,Super Store,-1.32471,GB,eeEurope
47,"2 Jade corners\nSouth Ashleybury\nW1 0RE, Belper",53.0233,None,Belper,BE-8C0CF738,26,2002-04-03,Local,-1.48119,GB,Europe
48,Studio 1\nBrandon branch\nFrancescaview\nTD4N ...,51.40148,None,Newbury,NE-374D3983,20,2009-08-07,Local,-1.32471,GB,eeEurope
49,"0493 Alicia Station Suite 475\nElizabethfort, ...",27.71809,None,Sun City Center,SU-95D20AE9,30,2004-05-23,Local,-82.35176,US,America

In [79]:
stores_df = stores_data.copy()



stores_df = stores_df[stores_df['country_code'].str.len() == 2]
stores_df.loc[:,'opening_date'] = pd.to_datetime(stores_df['opening_date'], errors='coerce', format='%Y-%m-%d')

stores_df['continent'] = stores_df['continent'].replace(['eeEurope', 'eeAmerica'], ['Europe', 'America'])

stores_df = stores_df.drop(columns='lat')
stores_df['staff_numbers'] = stores_df['staff_numbers'].apply(lambda x: "".join(filter(str.isdigit, str(x))))




stores_df = stores_df.dropna().drop_duplicates()
stores_df

,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
index,,,,,,,,,,
1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25 00:00:00,Local,-0.74934,GB,Europe
2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12 00:00:00,Super Store,12.16179,DE,Europe
3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,Westbury,WE-1DE82CEE,69,2014-01-02 00:00:00,Super Store,-2.1875,GB,Europe
4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,Belper,BE-18074576,35,2019-09-09 00:00:00,Local,-1.48119,GB,Europe
5,Flat 92u\nChristian harbors\nPort Charlotte\nN...,53.38333,Gainsborough,GA-CAD01AC2,36,1995-05-15 00:00:00,Local,-0.76667,GB,Europe
...,...,...,...,...,...,...,...,...,...,...
445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08 00:00:00,Super Store,-1.29772,GB,Europe
446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,Kirchlengern,KI-78096E8C,61,2005-05-12 00:00:00,Super Store,8.63333,DE,Europe
448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14 00:00:00,Local,-0.74934,GB,Europe
449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17 00:00:00,Local,8.70745,DE,Europe
450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12 00:00:00,Local,7.2278,DE,Europe

In [91]:
stores_data_clean = DataCleaning(stores_data).clean_store_data()

store_data_to_sql = DatabaseConnector('sales_data_creds.yaml').upload_to_db(stores_data_clean, 'dim_store_details')

C:\Users\kthuv\AppData\Local\Temp\ipykernel_24368\2033450559.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.dataframe['continent'] = self.dataframe['continent'].replace(['eeEurope', 'eeAmerica'], ['Europe', 'America'])